@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
@keyframes moveGrid {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(40px);
  }
}

.animate-grid {
  animation: moveGrid 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* .ghost-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
  z-index: 9999;
}
.ghost-cursor {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
} */